<div class="breadcrumbs-v3 img-v3 text-center">
    <div class="container">
        <h1>Meetings and Events</h1>
        <p>More than a meeting app. It’s a collective experience. Apogy transforms events into opportunities for your team to share, grow and engage</p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Featured Blog ===-->
<div class="container content-sm">
    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/unifyingExperience.png" alt="">
                <a href="@Url.Action("Index", "Contact")"><i class="rounded-x fa fa-download"></i></a>
            </div>
            <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">Unifying experiences</a></h2>
            <p>Events are a destination, and should not be a one and done experience. Give your colleagues the dynamic tools they need for conferences, meetings, trade shows. Make the experience last all year.</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/stayInTheKnow.png" alt="">
                <a href="@Url.Action("Index", "Contact")"><i class="rounded-x fa fa-download"></i></a>
            </div>
            <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">Stay in the Know</a></h2>
            <p>Don’t miss out again. Live meetings undergo constant flux with details changing from minute to minute. Take advantage of personalized, up to date, dynamic schedules, so you always know where you need to be at all times.</p>
        </div>
        <div class="col-sm-4">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/atYourFingertips.png" alt="">
                <a href="@Url.Action("Index", "Contact")"><i class="rounded-x fa fa-download"></i></a>
            </div>
            <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">At Your Fingertips</a></h2>
            <p>Access complete and detailed information covering every aspect of the meeting from one convenient place. From schedules and hotel maps to local information and detailed bios of the speakers, all information is available within seconds.</p>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Featured Blog ===-->
<!--=== Container Part ===-->
<div class="service-block-v6 bg-color-light">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-8">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Our Main Features</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-calendar"></i>
                            <div class="service-desc">
                                <h2>Agenda</h2>
                                <p>
                                    Gain access to your entire schedule, conference tracks, and electives, and stay up to date as scheduling updates occur.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-users"></i>
                            <div class="service-desc">
                                <h2>Badge/Lead Scanning</h2>
                                <p>
                                    Scan leads at shows into your CRM, or scan badges at meet and greets for points on the leaderboard.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-badge"></i>
                            <div class="service-desc">
                                <h2>Training & Roleplay Certifications</h2>
                                <p>
                                    Conduct your roleplay certifications, evaluations, coursework and assessments during your kickoff.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-bar-chart"></i>
                            <div class="service-desc">
                                <h2>Polling & Q&A</h2>
                                <p>
                                    Measure the pulse of the group. Battle-tested polling with real time results and moderation of your Q&A sessions.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-bubbles"></i>
                            <div class="service-desc">
                                <h2>Social Feed</h2>
                                <p>
                                    Keeping in touch is simple when attendees can easily manage new connections, share contact info and stay connected long after the event.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-trophy"></i>
                            <div class="service-desc">
                                <h2>Challenges</h2>
                                <p>
                                    Set up team challenges inside and outside of a conference for hundreds of activities. View leaderboards for your scavenger hunts, badge scanning, appointments, and more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-center" src="/Content/assets/images/lexa/events1.png" width="300" alt="">
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!--=== End Container Part ===-->
<!--=== Image Block ===-->
<div class="container content-sm no-bottom-space">
    <div class="headline-center margin-bottom-60">
        <h2>Manage with Ease</h2>
        <p>
            Eliminate linked spreadsheets and duplicate data entry. Manage all aspects of the meeting from planning to post meeting evaluation through a single convenient web based portal. Customize the app to reflect your brand, and change the interface to best reflect your needs.
        </p><br>
    </div>
    <img class="img-responsive img-center" src="/Content/assets/images/lexa/manageWithEase.png" alt="">
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>EXTRA FEATURES</h2>
        </div>

        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bell"></i>
                    <div class="service-block-desc">
                        <h3>Notifications</h3>
                        <p>
                            Meeting organizers can target attendees or groups with personalized notifications highlighting important and time sensitive information.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Real-Time Chat</h3>
                        <p>
                            Stay connected to your team at all times in a secure text chat, sharing text, pictures, audio, and content with your teams and colleagues.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-map"></i>
                    <div class="service-block-desc">
                        <h3>Maps</h3>
                        <p>
                            View detailed maps for everything. Enhanced maps include iBeacon driven real-time locations of all attendees.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-bar-chart"></i>
                    <div class="service-block-desc">
                        <h3>Surveys & Questionnaires</h3>
                        <p>
                            Collect critical metrics on the effectiveness of your product launch, or assess retention at 30, 60, and 90 days.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-globe"></i>
                    <div class="service-block-desc">
                        <h3>Multiple Language Support</h3>
                        <p>
                            Fully localized to support global conferences for Americas, Europe, and Asia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-block-v8">
                    <i class="icon-map-marker"></i>
                    <div class="service-block-desc">
                        <h3>Beacons</h3>
                        <p>
                            Set up challenges, scavenger hunts, and interactive displays based on location, and check-in to sessions or view content when you walk in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
<!--=== End Service Block ===-->
<!-- Testimonials Carousel -->
<div class="testimonials-bs bg-image-v2 parallaxBg1">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="headline-center-v2 headline-center-v2-dark">
                        <h2>What Our Clients Say About Us</h2>
                        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                        <p>The app has been fantastic! Having the details of the meeting at my fingertips is wonderful. It’s easy to navigate and the extra features, like colleague profiles, keep the group connected.</p>
                        <span class="author">Director Commercial Training at<strong>a Major Pharmaceutical Company</strong></span>
                    </div>
                </div>
                <div class="item">
                    <div class="headline-center-v2 headline-center-v2-dark">
                        <h2>What Our Clients Say About Us</h2>
                        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                        <p>Thank you, for your help at the APJ meeting. In addition to having the eAgenda and scoring system all sorted, your assistance during the actual session - was invaluable.</p>
                        <span class="author">Senior Director, Business Operations at <strong>a Major Medical Device Company</strong></span>
                    </div>
                </div>
            </div>
            <div class="carousel-arrow">
                <a class="right carousel-control-v2" href="#carousel-example-generic" data-slide="next">
                    <i class="rounded-x fa fa-angle-left"></i>
                </a>
                <a class="left carousel-control-v2" href="#carousel-example-generic" data-slide="prev">
                    <i class="rounded-x fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Carousel -->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}