<div class="breadcrumbs-v3 img-v4 text-center vh40">
    <div class="container">
        <h2 class="h2Headder">Commercial Enablement</h2>
        <p class="pHeadder">Make teams more effective by keeping them mobile, connected, and informed during sales engagements, events, and throughout their day</p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Container Part ===-->
<div class="service-block-v6">
    <div class="container content-sm normalP">
        <div class="row">
            <div class="col-md-8">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Our Main Features</h2>
                </div>
                <div class="row wow animated fadeInLeft">
                    <div class="col-sm-6">
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-calendar"></i>
                            <div class="service-desc">
                                <h2>Schedule</h2>
                                <p>
                                    A field team’s calendar is constantly in flux, with customer appointments, events, meetings, and on-boarding or training classes always changing. Take advantage of personalized, up to date, dynamic schedules.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-rocket"></i>
                            <div class="service-desc">
                                <h2>Onboarding Plans</h2>
                                <p>
                                    Construct detailed, personalized onboarding and learning plans that adjusts as users progress, and can handle standard courses, experiential activities, and reflect in the schedule.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-badge"></i>
                            <div class="service-desc">
                                <h2>Certifications</h2>
                                <p>
                                    Don’t get flagged as noncompliant. Apogy combines tracking, roleplay assessments, evaluations, automated communication, and auditing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-graph"></i>
                            <div class="service-desc">
                                <h2>Progress Tracking</h2>
                                <p>
                                    All activity within Apogy is tracked at a fine-grained level. Continuous adaptive assessments are embedded within the activities, providing real-time feedback.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-users"></i>
                            <div class="service-desc">
                                <h2>Coaching & Mentoring</h2>
                                <p>
                                    Identify ideal matches between learners and coaches and use digital tools to enable and enhance the mentoring process.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-star"></i>
                            <div class="service-desc">
                                <h2>Collaboration</h2>
                                <p>
                                    Features such as robust messenger and group chats, 1-on-1 or many-to-many virtual meetings, face-to- face appointment scheduling at events, connecting with your customers and colleagues has never been easier.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-center wow animated fadeInRight" src="/Content/assets/images/lexa/fieldEnablementBanner.png" width="300" alt="">
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!--=== End Container Part ===-->
<!--=== Featured Blog ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="row featured-blog">
            <div class="col-sm-4 sm-margin-bottom-50 equal-height-column">
                <div class="featured-img">
                    <img class="img-responsive margin-bottom-20 wow animated rotateInDownLeft" src="/Content/assets/images/stephen/one_place_to_go.png" alt="">
                    <a href="@Url.Action("Index", "Contact")"><i class="rounded-x fa fa-download"></i></a>
                </div>
                <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">One Place to Go</a></h2>
                <p>
                    Create a single place for field collaboration, communication, and knowledge management, helping to simplify control and access to all content. Multiple languages supported, with many file types supported for quick access to team news, announcements, sales materials, documentation, and presentations. Through integrations content from marketing, CRM, and DMS systems are available, both on and offline.
                </p>
            </div>
            <div class="col-sm-4 sm-margin-bottom-50 equal-height-column">
                <div class="featured-img">
                    <img class="img-responsive margin-bottom-20 wow animated fadeInUp" src="/Content/assets/images/stephen/single_tap_communication.png" alt="">
                    <a href="@Url.Action("Index", "Contact")"><i class="rounded-x fa fa-download"></i></a>
                </div>
                <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">Single Tap Communication</a></h2>
                <p>
                    Apogy’s virtual presentation, online meeting, and chat capabilities are designed to meet the 21st century business communication needs. From person to person calls, internal online meetings to setting up an online or booked appointment up with a customer, getting users connected has never been so easy.
                </p>
            </div>
            <div class="col-sm-4 sm-margin-bottom-50 equal-height-column">
                <div class="featured-img">
                    <img class="img-responsive margin-bottom-20 wow animated rotateInDownRight" src="/Content/assets/images/stephen/drive_alignment.png" alt="">
                    <a href="@Url.Action("Index", "Contact")"><i class="rounded-x fa fa-download"></i></a>
                </div>
                <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">Drive Alignment</a></h2>
                <p>
                    Apogy is optimized from the ground up for mobile delivery of the best in mobile on-boarding practice. Bridge the gap between a sales CRM platform, marketing automation platform, document management system and LMS to improve productivity and put everything at your team’s fingertips.
                </p>
            </div>
        </div><!--/end row-->
    </div>
</div>
<!--=== End Featured Blog ===-->

<!--=== Image Block ===-->
<div class="container content-sm no-bottom-space">
    <div class="headline-center">
        <h2>Measure the Impact</h2>
        <p>
            Fine-grained tracking, polling, and surveys all contribute to the extensive pool of collected data. Embedded courses, questionnaires and role-play certifications allow you to assess how impactful onboarding and events really are. A reporting dashboard helps to disseminate these insights through the enterprise.
        </p><br>
    </div>
    <img class="img-responsive img-center wow animated fadeInUp" src="/Content/assets/images/lexa/measureTheImpact.png" alt="">
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Extra Features</h2>
        </div>

        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-badge"></i>
                    <div class="service-block-desc">
                        <h3>Training and Roleplay Certifications</h3>
                        <p>
                            Conduct your roleplay certifications, evaluations, coaching coursework and assessments during your kickoff or as part of an onboarding or learning plan.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Social Feed</h3>
                        <p>
                            Keeping in touch is simple when attendees can easily manage new connections, share contact info and stay connected long after the event.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bell"></i>
                    <div class="service-block-desc">
                        <h3>Notifications</h3>
                        <p>
                            Meeting organizers can target attendees or groups with personalized notifications highlighting important and time sensitive information.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-calendar"></i>
                    <div class="service-block-desc">
                        <h3>Online Meetings and Chat</h3>
                        <p>
                            Stay connected to your team at all times with fully-featured online meetings and a secure text chat, sharing text, pictures, audio, and content with your teams and colleagues.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bar-chart"></i>
                    <div class="service-block-desc">
                        <h3>Surveys and Questionnaires</h3>
                        <p>
                            Collect critical metrics on the effectiveness of your product launch, or assess retention at 30, 60, and 90 days.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-block-v8">
                    <i class="icon-trophy"></i>
                    <div class="service-block-desc">
                        <h3>Challenges</h3>
                        <p>
                            Set up team challenges inside and outside of a conference for hundreds of challenge and learning activities. View leaderboards for your team and collaborate to win.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function() {
            $('.row').each(function(i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
    <script>
        new WOW().init();
    </script>
}