@using System.Web.Mvc.Html
@using System.Web.Optimization
@model NewApogyWebSite.Models.EmailFormModel
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-contact text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Contact Us</h1>
            <p>Let us know what you think</p>
        </div><!--/end container-->
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <form method="post" id="sky-form3" class="sky-form contact-style">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
                <fieldset>
                    
                    
                    <section>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <label class="select">
                                    @Html.DropDownListFor(m => m.Products, new SelectList(new List<string>() {"Please select product", "Apogy", "Apogy Events", "Podium"}), new {@class = "select"})
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </section>

                    <label>Name <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                @Html.TextBoxFor(m => m.FromName, new {@placeholder = "Please enter your full name", @type = "text", @name = "name", @id = "name", @class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <label>Company <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                @Html.TextBoxFor(m => m.Company, new {@type = "text", @name = "name", @id = "company", @class = "form-control", @placeholder = "Please enter your company"})
                            </div>
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                @Html.TextBoxFor(m => m.FromEmail, new {@type = "text", @name = "email", @id = "email", @class = "form-control", @placeholder = "Please enter your email"})
                            </div>
                        </div>
                    </div>

                    <label>Message <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-11 col-md-offset-0">
                            <div>
                                @Html.TextAreaFor(m => m.Message, new {@class = "form-control", placeholder = "Please enter your message", rows = "8", @name = "message", id = "message"})
                            </div>
                        </div>
                    </div>

                    <p>
                        <button type="submit" class="btn-u">Send Message</button>
                    </p>
                </fieldset>
            }
            </form>
        
            </div><!--/col-md-9-->

        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contacts</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="https://goo.gl/maps/bXHXw5brfYG2" target="_blank"><i class="fa fa-home"></i>379 West Broadway, New York, NY</a></li>
                <li><a href="mailto:info@apogy.com?Subject=Enter%20subject%20here"><i class="fa fa-envelope"></i>info@apogy.com</a></li>
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-globe"></i>http://www.apogy.com</a></li>
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h2>Business Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>Monday-Friday:</strong> 9am to 5pm</li>
                <li><strong>Saturday:</strong> Closed</li>
                <li><strong>Sunday:</strong> Closed</li>
            </ul>

            <!-- Why we are? -->
        </div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
