<div class="vh100">
    <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2 interactive-slider-v2-md img-v3 vh70">
        <div class="container">
            <h2 class="cd-headline push">
                <span class="cd-words-wrapper fullWidth">
                    <b class="is-visible">Less Process.<br />More Selling.</b>
                    <b>Create Unifying<br />Experiences</b>
                    <b>Launch with<br />Confidence</b>
                    <b>Drive<br />Performance</b>
                </span>
            </h2>
            <p>Apogy unifies all aspects of the commercial workflow to accelerate individual contribution and power organizational performance. We make remote teams more effective by keeping them mobile, connected, and informed.</p>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->
    <!--=== Colorfull Blocks ===-->
    <div class="container-fluid vh30">
        <div class="row no-gutter fullHeight">
            <div class="col-md-4 fullHeight">
                <div class="service-block service-block-purple no-margin-bottom content fullHeight divCenteredOuter">
                    <div class="divCenteredInner">
                        <a href="@Url.Action("Apogy", "Products")"><i class="icon-custom icon-md rounded icon-color-light icon-line icon-graduation"></i></a>
                        <h2 class="font-light">Powering Commercial Enablement</h2>
                        <p class="no-margin-bottom font-light">We uniquely understand the demands placed on today’s commercial teams and the need to streamline workflows with many dimensions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 fullHeight">
                <div class="service-block service-block-red no-margin-bottom content fullHeight divCenteredOuter">
                    <div class="divCenteredInner">
                        <a href="@Url.Action("ApogyEvents", "Products")"><i class="icon-custom icon-md rounded icon-color-light icon-line icon-users"></i></a>
                        <h2 class="font-light">Connected, Intuitive Solutions</h2>
                        <p class="no-margin-bottom font-light">Built by Life Sciences for Life Sciences, Apogy is maniacally focused on solving the Activity, Training, and Event-centric burdens placed on commercial teams.</p>
                    </div>
                    </div>
            </div>
            <div class="col-md-4 fullHeight">
                <div class="service-block service-block-blue no-margin-bottom content fullHeight divCenteredOuter">
                    <div class="divCenteredInner">
                        <a href="@Url.Action("Podium", "Products")"><i class="icon-custom icon-md rounded icon-color-light icon-line icon-cloud-upload"></i></a>
                        <h2 class="font-light">SaaS & Mobile Platform</h2>
                        <p class="no-margin-bottom font-light">Make teams more effective by keeping them mobile, connected, and informed during sales engagements, events, and throughout their day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Colorfull Blocks ===-->
</div><!--=== Commercial Enablement ===-->
<div class="container content-md no-padding-bottom">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Commercial Enablement</h2>
            <p>Provide better support of employee knowledge, with personalized learning plans that can support product launch objectives and onboarding requirements.</p>
            <br>
            <a href="@Url.Action("Apogy", "Products")" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="@Url.Action("Index", "Contact")" class="btn-u">Request a Demo</a>
            <hr/>
            <p>FEATURES</p>
                <ul class="margin-bottom-20">
                    <li>Mobile & Web App</li>
                    <li>100% Brand Configuration</li>
                    <li>Integrated Online Meetings</li>
                    <li>Calendaring and Scheduling</li>
                    <li>Social Feeds for Community, Events, Groups</li>
                    <li>Announcements</li>
                    <li>Chat and Notifications</li>
                    <li>Secure Content Library</li>
                    <li>Corporate Event Management Support</li>
                    <li>On-boarding Learning Plans</li>
                    <li>Coaching and Mentoring</li>
                    <li>Certifications, Testing and Evaluations</li>
                    <li>Manager’s Dashboard</li>
                    <li>Tasks and Reminders</li>
                    <li>Open API for CRM, DMS, LMS Integrations</li>
                    <li>Enterprise-ready platform</li>
                    <li>Single Sign-On capable</li>
                    <li>24/7 Support</li>
                </ul>
</div>
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInRight" data-wow-duration="1.5s" src="~/Content/assets/images/lexa/fieldEnablementBanner.png" alt="">
        </div>
    </div>
</div>
<!--=== End Commercial Enablement ===-->
<!--=== Meetings and Events ===-->
<div class="bg-color-light">
<div class="container content-md no-padding-bottom">
    <div class="row">
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInLeft" data-wow-duration="1.5s" src="~/Content/assets/images/stephen/apogy-event-device-iphone.png" alt="">
        </div>
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Meetings and Events</h2>
            <p>Transform your conferences and meetings to create smarter events, providing tools to support event logistics, drive team alignment, and networking.</p>
            <br/>
            <a href="@Url.Action("ApogyEvents", "Products")" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="@Url.Action("Index", "Contact")" class="btn-u">Request a Demo</a>
            <hr/>
            <p>FEATURES</p>
            <ul class="margin-bottom-20">
                <li>Cloud-Based, Enterprise-Ready Platform</li>
                <li>100% Brand and UI Configuration</li>
                <li>Badge/Lead Scanning</li>
                <li>Event Reporting and Analytics</li>
                <li>Audience Polling and Q&A</li>
                <li>Tracks and Electives</li>
                <li>Personalized Agendas</li>
                <li>Surveys and Questionnaires</li>
                <li>Training and Role-play Certifications</li>
                <li>Event and Session Check-In</li>
                <li>Speakers and Sessions</li>
                <li>Challenges and Leaderboards</li>
                <li>Social Feed and Notifications</li>
                <li>User and Team Chat</li>
                <li>Single Sign On</li>
                <li>Calendar Integration</li>
                <li>CRM, LMS, DMS Integrations</li>
                <li>Mobile & Web Apps</li>
                <li>One App for all your Events</li>
                <li>Multiple Language Support</li>
                <li>24/7 Support</li>
            </ul>
</div>
    </div>
</div>
</div>
<!--=== End Meetings and Events ===-->
<!--=== Speaker Programs ===-->
<div class="container content-md no-padding-bottom">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Speaker Programs</h2>
            <p>Create a single place for field collaboration, communication, and knowledge management, helping to simplify access to all content.</p>
            <br/>
            <a href="@Url.Action("Podium", "Products")" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="@Url.Action("Index", "Contact")" class="btn-u">Request a Demo</a>
            <hr/>
            <p>FEATURES</p>
            <ul class="margin-bottom-20">
                <li>Cloud Based Enterprise Ready Platform</li> 
                <li>Single sign on capable</li>
                <li>Rule driven, compliant presentations</li>
                <li>Store, manage and control content</li>
                <li>Calendar integration</li>
                <li>Speaker management</li>
                <li>Easy 3rd party integrations</li>
                <li>Multi-tier entitlements & approval workflow</li>
                <li>Mobile & Web</li>
                <li>Sunshine Act Reporting • 24/7 Support</li>
            </ul>
        </div>
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInRight" data-wow-duration="1.5s" src="~/Content/assets/images/lexa/speakerTrainingBanner.png" alt="">
        </div>
    </div>
</div>
<!--=== End Speaker Programs ===-->
@*<!--=== Parallax Counter v1 ===-->
<div class="parallax-counter-v1 parallaxBg">
    <div class="container">
        <h2 class="title-v2 title-light title-center">SOME FACTS AND SERVICES</h2>
        <p class="space-xlg-hor text-center color-light">I really like the style of this parallax, so if we have some informations to put here, i would highly suggest that.</p>

        <div class="margin-bottom-40"></div>

        <div class="row">
            <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
                <div class="counters">
                    <span class="counter">10629</span>
                    <h4>Users</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
                <div class="counters">
                    <span class="counter">277</span>
                    <h4>Projects</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">78</span>
                    <h4>Team Members</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">109</span>
                    <h4>Awards</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Parallax Counter v1 ===-->*@
<!-- Callout v2 -->
<div class="bg-color-light">
    <div class="call-action-v2 parallaxBg">
        <div class="container">
            <h2>Go ahead. Take it for a spin!</h2>
            <p>We look forward to hearing from you.<br />This sentance was a default in previous template, I'm not sure if you want to keep it, or change to something more appropriate?</p>
            <a href="@Url.Action("Index", "Contact")" class="btn-u">Request a Demo</a>
        </div>
    </div>
</div>
<!-- End Callout v2 -->
@section PageScripts {
    @if (Request.Browser.ScreenPixelsHeight < 700)
    {
        <script>
            $(function() {
                $('.row').each(function(i, elem) {
                    $(elem)
                        .find('.divCenteredOuter .divCenteredInner') // Only children of this row
                        .matchHeight(); // Row detection gets confused so disable it
                });
            });
        </script>
    }
@if (ViewBag.Toastr != null)
    {
        if (ViewBag.Toastr == "success")
        {
        @:
        <script>toastr.success("Email sent successfully");</script>
        }
        else
        {
        @:
        <script>toastr.error("@ViewBag.Toastr", "Failed sending email");</script>
        }
    }
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            StyleSwitcher.initStyleSwitcher();
            new WOW().init();
        });
    </script>
}