<!--=== Breadcrumbs ===-->
<div class="breadcrumbs navbarPadding">
    <div class="container">
        <h1 class="pull-left">Blog Timeline<br/><span class="smallerText">Our thoughts on Sales Events, Commercial Enablement, and a Learning Culture</span></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Blog Timeline</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
    <ul class="timeline-v1">
        <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/Content/assets/images/blog/millenialEmployeesWantDivorceLMS.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                    <h2 class="font-light">
                        <a href="@Url.Action("Millennial")">
                            Why 99% of Millennial Employees Want to Divorce Their LMS
                        </a>
                    </h2>
                    <p>
                        They say experience is the best teacher. This may be true for many things in life – but there are some exception.
                    </p>
                    <a class="btn-u btn-u-sm" href="@Url.Action("Millennial")">
                        Read More
                    </a>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> February 22, 2017</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <img class="img-responsive" src="/Content/assets/images/blog/whereSocialLearningFails.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
                <h2 class="font-light">
                    <a href="@Url.Action("SocialLearning")">
                        Where Social Learning Fails
                    </a>
                </h2>
                <p>
                    With the explosion of online video, social learning has moved to the forefront of our consciousness.
                </p>
                <a class="btn-u btn-u-sm" href="@Url.Action("SocialLearning")">Read More</a>
            </div>
            <div class="timeline-footer">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> February 6, 2017</li>
                </ul>
            </div>
        </div>
        </li>
        <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/Content/assets/images/blog/experienceIsNotTheBestOption.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                    <h2 class="font-light">
                        <a href="@Url.Action("PharmaSales")">
                            When it Comes to Pharma Sales, Experience is NOT the Best Teacher
                        </a>
                    </h2>
                    <p>
                        They say experience is the best teacher. This may be true for many things in life – but there are some exception.
                    </p>
                    <a class="btn-u btn-u-sm" href="@Url.Action("PharmaSales")">
                        Read More
                    </a>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> January 17, 2017</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/Content/assets/images/blog/hardestObjectionForSalespeopleToOvercome.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                    <h2 class="font-light">
                        <a href="@Url.Action("Forgetfulness")">
                            The Hardest Objection for Salespeople to Overcome: Forgetfulness
                        </a>
                    </h2>
                    <p>
                        While many companies would attribute sales failure to factors such as market competitiveness, product inefficiencies, or buyer price objections, where the process truly falls down is none of these.
                    </p>
                    <a class="btn-u btn-u-sm" href="@Url.Action("Forgetfulness")">Read More</a>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> January 5, 2017</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/Content/assets/images/blog/2017DisruptiveTechnologies4.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                    <h2 class="font-light">
                        <a href="@Url.Action("DistruptiveTech")">
                            How 2017 Disruptive Technologies Will Impact Sales
                        </a>
                    </h2>
                    <p>
                        We’ve all read the experts predictions of what the disruptive technology trends are likely to be in 2017: Big Data, Internet of Things (IoT), and Artificial Intelligence, to name a few. Yet despite all these innovations, one thing remains the same: the sales operation is still the lifeblood of any organization.
                    </p>
                    <a class="btn-u btn-u-sm" href="@Url.Action("DistruptiveTech")">
                        Read More
                    </a>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> January 3, 2017</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/Content/assets/images/blog/smmBecomesApogy2Blog.jpg" alt=""/>
                </div>
                <div class="timeline-body text-justify">
                    <h2 class="font-light">
                        <a href="@Url.Action("BecomingApogy")">
                            Scientia MedMedia Becomes Apogy
                        </a>
                    </h2>
                    <p>
                        For those of you who have been following us, you may have noticed that recently we gave our company a facelift.
                    </p>
                    <p>
                        In May of 2016, we made the strategic decision to rebrand our legacy firm, SciMedMedia by adopting the new name “Apogy.” Although the mission of the company and the staff remain the same, we sought a partner to provide us with additional financial resources. After over a decade as a self-funded entity, we wished to gain the ability to invest to the highest level possible to meet the burgeoning demand we are seeing in the market for mobile and adaptive learning tools particularly in the pharmaceutical, life sciences, and healthcare industries. The funding will also be used to attract new talent to Apogy, including leadership, technical and client services team members.
                    </p>
                    <a class="btn-u btn-u-sm" href="@Url.Action("BecomingApogy")">Read More</a>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> December 21, 2016</li>
                    </ul>
                </div>
            </div>
        </li>
    <li>
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <img class="img-responsive" src="/Content/assets/images/blog/dealKillerBlog.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
                <h2 class="font-light">
                    <a href="@Url.Action("DealKiller")">
                        The Surprisingly Largest Deal Killer in Pharma Sales
                    </a>
                </h2>
                <p>
                    While it may seem innocuous, failure to adopt a CRM system has far reaching impact on a pharma company’s sales success. It thwarts social listening, a critical component of making a sales rep appear a prepared and valuable resource. Artificial intelligence poses a solution to these challenges.
                </p>
                <a class="btn-u btn-u-sm" href="@Url.Action("DealKiller")">
                    Read More
                </a>
            </div>
            <div class="timeline-footer">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> December 13, 2016</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <img class="img-responsive" src="/Content/assets/images/blog/3ReasonsWhyIHateMobileApps.jpg" alt=""/>
            </div>
            <div class="timeline-body text-justify">
                <h2 class="font-light">
                    <a href="@Url.Action("HateMobileApps")">
                        Three Reasons Why I Hate Mobile Apps
                    </a>
                </h2>
                <p>
                    With the explosion of online video, social learning has moved to the forefront of our consciousness.
                </p>
                <a class="btn-u btn-u-sm" href="@Url.Action("HateMobileApps")">Read More</a>
            </div>
            <div class="timeline-footer">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> April 10, 2016</li>
                </ul>
            </div>
        </div>
    </li>
        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->