<div class="breadcrumbs-v3 img-v6 text-center">
    <div class="container">
        <h1>Events & Meetings</h1>
        <p>
            Apogy transforms events into opportunities to create genius.
        </p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>Challenge</h2>
        <p>
            Machine Learning makes the difference as Apogy turns any size event into a continual learning experience where participants share, grow and engage.
        </p><br>
        <p>
            Apogy’s seamless integration provides a powerful way to facilitate breakout sessions, one-on-one discussions, and distribution information and pre-recorded broadcasts. By threading learning throughout daily activity and tailoring the earning experience, we transform passive moments into productive results.
        </p><br>
    </div>
    <div class="headline-center margin-bottom-60">
        <h2>Event Lifecycle</h2>
        <p>
            Turn user behavior into practical analytics for the first time ever. Digitize your events at every stage to empower event profs, marketers, exhibitors and sponsors alike to better evangelize, energize, monetize and optimize live events and maximize ROI on their marketing spend.
        </p><br>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Featured Blog ===-->
<div class="container content-sm">
    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Agenda.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Agenda</a>
            </h2>
            <p>
                Gain access to all meeting events tied directly into both personal and private calendars that stay up to date as scheduling updates occur. Changes are completely controlled through the web-based administrative portal.
            </p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Content.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Content</a>
            </h2>
            <p>
                Eliminate the need for reams of paper and take advantage of the built-in content management features. This helps guarantee that content is always up to date. Digital media comes alive with the inclusion of multimedia elements such as video, audio and interactive exercises.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/ARS.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">ARS</a>
            </h2>
            <p>
                Any presentation can be made more memorable with individual engagement. Apogy’s Audience Response System allows users to participate in polling, surveys, Q&A and multiuser, interactive exercises right from their mobile devices.
            </p>
        </div>
    </div><!--/end row-->
    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Survey.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Surveys</a>
            </h2>
            <p>
                A critical aspect of meeting planning is to know exactly what people want and need, and then to provide it for them. Through embedded surveys, meeting organizers can study current meetings and plan future ones accordingly.
            </p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Polling.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Polling</a>
            </h2>
            <p>
                Measure the pulse of the group. Integrated polling with real time results injects a dynamic element into any meeting.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Networking.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Networking</a>
            </h2>
            <p>
                Extensive tracking, coupled with big data analytics and graph analysis, drive the recommendation engine, matching individuals and groups to lasting networks of professional peers.
            </p>
        </div>
    </div><!--/end row-->

    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Social.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Social</a>
            </h2>
            <p>
                Apogy messaging, MeetUps and collaborative challenges are only part of the social equation. Full integration with traditional channels, such as LinkedIn and Twitter, is also available. Keeping in touch is simple when attendees can easily manage new connections, share contact information and stay connected long after the event.
            </p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Messaging.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Messaging</a>
            </h2>
            <p>
                Real time, geo-tagged, individual and group messaging provides an effective channel to supplement any meeting. All messages are archived and searchable so that key thoughts and insights are preserved for later reference.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Gamification.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Gamification</a>
            </h2>
            <p>
                The key to a successful meeting is to engage the attendees with novel and memorable events that spark interaction between them. Group and individual competitive activities can be embedded throughout the meeting, aided by their mobile devices. Virtual rewards and leaderboards help spur creativity.
            </p>
        </div>
    </div><!--/end row-->
    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Notifications.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Notifications</a>
            </h2>
            <p>
                Meeting organizers can target attendees or groups with personalized notifications highlighting important and time sensitive information through a familiar interface before, during and after the event.
            </p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Guides.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Guides</a>
            </h2>
            <p>
                Complete guides to local entertainment, attractions, transportation, lodging and dining enhance your entire stay. Apogy is your companion for the entire event.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/oldWebsitePics/salesKickoff/Maps.png" alt="">
                <a href="#">
                    <i class="rounded-x fa fa-download"></i>
                </a>
            </div>
            <h2>
                <a class="color-dark" href="@Url.Action("Index", "Contact")">Maps</a>
            </h2>
            <p>
                View detailed maps for everything from the hotel and meeting rooms, to vendor booths and coffee stations. Enhanced maps include iBeacon driven real-time locations of all attendees. Augmented reality powers step-by-step directions.
            </p>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Featured Blog ===-->

@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.col-sm-4') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}